/* hover effect */

.shadow:hover{
  transform:scale(1.05);
  transition: transform 0.2s ease-in-out; 
  background-color: rgb(247, 242, 242);
  color: rgb(123, 21, 218);
  border: 3px solid rgb(97, 79, 79);
};